seventeenth meeting parties decided dec xvii note serbia montenegro reported data one years required establishment baselines annexes b e protocol provided article paragraphs ter note places serbia montenegro non compliance data reporting obligations montreal protocol time secretariat receives outstanding data stress compliance serbia montenegro montreal protocol cannot determined without knowledge data acknowledge serbia montenegro recently ratified amendments protocol data reporting obligation relates also note received assistance data collection multilateral fund implementation montreal protocol fund implementing agencies urge serbia montenegro work together united nations environment programme compliance assistance programme implementing agencies multilateral fund report data matter urgency secretariat request implementation committee review situation serbia montenegro respect data reporting next meeting