seventeenth meeting parties decided dec xvii note eritrea temporarily classified operating paragraph article montreal protocol reported consumption production data secretariat note situation places party non compliance data reporting obligations montreal protocol time secretariat receives outstanding data acknowledge eritrea recently ratified montreal protocol received approval data collection assistance multilateral fund implementation montreal protocol latter implementing agencies note appreciation eritrea commitment submit outstanding data later first quarter urge eritrea work together united nations environment programme compliance assistance programme implementing agencies multilateral fund report data quickly possible secretariat request implementation committee review situation party respect data reporting next meeting