fifteenth meeting parties decided dec xv note appreciation fact that requested decision xiv fourteenth meeting parties following parties reported data thus bringing compliance provisions article enabling temporary classification article parties removed cambodia nauru rwanda sierra leone suriname note nevertheless following parties temporarily classified operating article still reported consumption production data secretariat cape verde guinea bissau s tom pr xadncipe somalia note situation places parties non compliance data reporting obligations montreal protocol acknowledge many parties recently ratified montreal protocol also note received assistance data collection multilateral fund implementing agencies urge parties work together united nations environment programme compliance assistance programme implementing agencies multilateral fund report data quickly possible secretariat request implementation committee review situation parties respect data reporting next meeting