fifteenth meeting parties decided dec xv recall decision xiv fourteenth meeting parties non compliance data reporting requirements purpose reporting data base years note appreciation several parties submitted data base years following adoption decision xiv note however following parties operating article paragraph still reported data one base years one groups controlled substances required article paragraphs montreal protocol cape verde china guinea bissau haiti honduras liberia libyan arab jamahiriya mali marshall islands micronesia federated states of nauru nigeria s tom pr xadncipe somalia suriname note article paragraphs protocol provide parties submit best possible estimates data referred provisions actual data available request relevant implementing agencies multilateral fund make available secretariat data obtained may relevant request secretariat communicate parties referred paragraph offer assistance reporting estimates accordance article paragraphs