fifteenth meeting parties decided dec xv acknowledging potential alternatives use halons exist provide necessary fire protection engine nacelles cargo bays commercial aircraft concerned note new airframes still designed certified halons required fire extinguishant owing regulatory requirements acknowledging airframe certification agencies airframe manufacturers wish participate joint effort allow certification alternatives halon new airframes authorize representatives ozone secretariat technology economic assessment panel engage discussions relevant international civil aviation organization bodies development timely plan action enable consideration possibility modifying regulatory requirements mandate use halons new airframes may feasible without compromising health safety airline passengers report thereon sixteenth meeting parties