directed parties parties should submit report using revised format agreed meeting standing committee reporting provisions article viii paragraph convention submit special report june using format provided secretariat provides statistical information calendar year on administrative measures e g fines bans suspensions imposed cites related violations significant seizures confiscations forfeitures cites specimens criminal prosecutions court actions disposal confiscated specimens