The Standing Committee shall review the findings and recommendations of the Secretariat reported under Decision 17.121 and prepare its own findings and recommendations for the consideration of the 18th meeting of the Conference of the Parties.