xc2\xa0           Directed to the Secretariat          16.52   The Secretariat shall develop capacity-building tools and materials for use by Parties (e.g. a module in the CITES Virtual College) related to the implementation of the Convention for specimens taken from the marine environment not under the jurisdiction of any State.          \xc2\xa0