sixteenth meeting parties decided dec xvi note following parties temporarily classified operating paragraph article reported consumption production data secretariat afghanistan cook islands note situation places parties non compliance data reporting obligations montreal protocol acknowledge parties recently ratified montreal protocol also note cook islands yet received assistance data collection multilateral fund implementing agencies urge parties work together united nations environment programme compliance assistance programme implementing agencies multilateral fund report data quickly possible secretariat request implementation committee review situation parties respect data reporting next meeting